.header {
  width: 100%;
  top: 0;
  left: 0;
  height: 80px;
  display: flex;
  align-items: center;
  position: sticky;
  transition: all 0.4s ease-in-out;
  z-index: 999;
}

.header.active {
  background: #033032;
  box-shadow: 0 2px 10px 3px #044247;
}
.header .logo button {
  background: transparent;
  border: none;
  outline: none;
  font-size: 32px;
  text-decoration: none;
  font-family: cursive;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 53px;
  height: 53px;
  background: #fff;
  color: #034e52;
}

.header > nav {
  width: max-content;
  margin: 0 auto;
  z-index: 999;
}
.header nav ul {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header nav ul li {
  margin: 0 10px;
  list-style: none;
}
.header nav ul li:last-child {
  margin-right: 2.8rem;
}
.header nav ul li a {
  cursor: pointer;
  width: max-content;
  max-width: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: all 0.3s ease-in;
  border: none;
  border-radius: 5px;
  position: relative;
  padding: 3px 10px;
  transition: all 0.3s ease-out;
  outline: none;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}
.header nav ul li a svg {
  width: 20px;
  height: 20px;
}
.header nav ul li a:hover {
  opacity: 0.8;
  color: #17b1b9;
}

.header nav ul li a::after {
  content: '';
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  z-index: -1;
  transition: all 0.3s ease-in;
  opacity: 0;
  visibility: hidden;
}

.header nav ul li a.active {
  opacity: 1;
  color: #17b1b9;
}
.header nav ul li a.active::after {
  opacity: 1;
  visibility: visible;
  width: 100%;
  border-bottom: 1px solid #17b1b9;
}

.contact-btn {
  display: block;
  text-transform: uppercase;
  position: absolute;
  right: 30px;
  top: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  transform: translateY(-50%);
  padding: 10px;
  background: transparent;
  outline: none;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.contact-btn:hover {
  color: #17b1b9;
}
.contact-btn::after {
  content: '';
  width: 100%;
  height: 0%;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  background: #fff;
  border-radius: 4px;
  z-index: -1;
  transition: all 0.3s ease-in;
}
.contact-btn:hover::after {
  height: 100%;
  top: 0%;
  color: #17b1b9;
}
.burger-btn {
  width: 45px;
  height: 45px;
  background: #034e52;
  border-radius: 5px;
  display: none;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  cursor: pointer;
}

.burger-line {
  width: 70%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.3s ease-in;
}

.burger-line::before,
.burger-line::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.3s ease-in;
}

.burger-line::before {
  top: 10px;
}

.burger-line::after {
  bottom: 10px;
}

.burger-line.close::before,
.burger-line.close::after {
  left: 50%;
  top: 50%;
}

.burger-line.close::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.burger-line.close::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.burger-line.close {
  margin-left: -100%;
  width: 0;
}
@media screen and (max-width: 968px) {
  .header nav ul li {
    font-size: 16px;
    margin: 0 8px;
  }

  .contact-btn {
    font-size: 16px;
    padding: 8px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    box-shadow: none;
  }
  .header nav {
    padding: 10px;
    background: #033032;
    width: 100%;
    position: absolute;
    left: 0;
    top: -400px;
    z-index: -2;
    border-radius: 0 0 5px 5px;
    transition: all 0.4s ease-in-out;
  }
  .header nav.open {
    top: 78px;
  }
  .header nav ul {
    opacity: 0;
    height: max-content;
    flex-direction: column;
    transition: all 0.7s ease-out;
  }

  .header nav.open ul {
    opacity: 1;
  }

  .header nav ul li {
    margin: 12px 0;
  }
  .header nav ul li:last-child {
    margin-right: 0;
  }
  .burger-btn {
    display: flex;
    margin-left: auto;
  }

  .contact-btn {
    padding: 0.8rem 2.3rem;
    margin-top: 32px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
